body {
  font-family: 'Source Sans Pro', sans-serif;
}

ul{
  margin-top: 0px;
  background-color: #B45F04;
}

li{
  margin-top: 0px;
  display: inline-block;
  padding: 20px;
  list-style: none;
}

a{
  color: whitesmoke;
  padding: 10px;
}

a:hover{
  color: green;
}

span{
  color: red;
  margin: 0 100px;
}

body{
  background-color: #3B240B;
}

.boton{
  display: inline-block;
  padding: 20px;
  margin-left: 50px;
  width: 25%;
  list-style: none;
  background-color: #B45F04;
  text-align: center;
}

.imagenes{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

div {
  margin-top: 20px;
}

p{
  text-align: justify;
  width: 500px;
  margin-left: 80px;
  color: #f6a25a;
  float: left;
}

.cerrar{
  position: absolute;
  margin-left: -220px;
}

.imagen{
  display: inline;
  margin-left: 50px;
}
